*.class
*.html
*.css
*.log*
*.jar
*.iml
*.jardesc
/.idea
/.settings
package-list
hadoop.err
hadoop.out
hadoop.*
run*
class-use
index-files
/.project
/.classpath
/build/
/bin/
/lib/
/target/
/ncdc_output
